 *{
     margin: 0;
     padding: 0;
 }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 100px 0 200px;
    overflow: hidden;
    background-color: #333;
  }

  p{
      font-family: 'Quattrocento';
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 34px 46px;
    text-decoration: none;
    
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
  }
  
  .container {
    font-family: 'Poppins' ;

  }
  



  
 .parent1{
      background-image: url('../picture/bicad-media-UnI8AGe1634-unsplash.jpg');
      height: 640px;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      


  }
  .parent1 div{
    width: 644px;
    margin-left: 500px;
   

  }



  .child1{
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 190%;
    color: white;
    padding: 30px;
    
  }

  .child2{
    padding: 0px 30px 0px;
    margin-top: 10px;
    
  }

  .child3{  
    padding: 0px 30px 0px;
    margin-top: 30px;
    

  }

  button {
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
  }

  


 
  li a:hover {
    background-color: #111;
  }
  button:hover {
    background-color: rgb(255, 255, 255);
  }


  .carousseltitle{
    font-family: 'Poppins' ;
  }

  .background{
    background-color: rgb(177, 177, 177);
  }

  .caroussel-parent div{
    border: 1px #ccc solid;
    padding:10px
  

  }

  .caroussel-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 180px;
    margin-left: 40px;
    margin-right: 40px;
  }

.C-child{
  width: 378px; 
  height: 550px ;
}

.C-cap{
  padding: 15px;
  text-align: left;
}

div.C-child img{
  width: 100%;
  height: auto;
}






/*-------Frenchy's----------*/

.esd-parent{

}

.esd-div-image{
  padding: 220px;
  position: relative;
}

.esd-image{
 
  align-items: center;
 
 object-fit: cover;
 max-width: 100%;
 max-height: 100%;
}

.esd-caption{
  background-color: #F2F3F3;
  position: absolute;
  top: 2250px;
  left: 400px;

  width: 756px;
  height: 291px;
  margin-bottom: 100px;

}

/*---------The botanic garden, house of yes and smorgasburg--------------*/


.Parent3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 180px;
  

}
.Parent3 div{
  border: 1px #ccc solid;
  padding:10px
  margin-bottom: 180px;
}

.botanicGarden{
  width: 421px;
  height: 550px;

}
div.botanicGarden img{
  width: 100%;
  height: 280;
  object-fit: fill;

}

.houseofyes{
  width: 421px;
  height: 550px;

}
div.houseofyes img{
  width: 100%;
  height: auto;
}

.smorgasburg{
  width: 421px;
  height: 550px;
}
div.smorgasburg img{
  width: 100%;
  height: 280;
}

/**---------------Blog (The yogi's guide and Pizza tour)-------*/



.Parent4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 180px;
}

.Parent4 div{
  border: 1px #ccc solid;
  padding:10px
  margin-bottom: 180px;
}

.doguide1{
  width: 533px;
  height: 700px;
}
div.doguide1 img{
  width: 100%;
  height: 533;
  object-fit: fill;

}

.doguide2{
  width: 533px;
  height: 700px;
}

div.doguide2 img{
  width: 100%;
  height: 533;
  object-fit: fill;

}


div.doguide:hover {
  border: 1px solid #777;
}

